{% render 'partials/head.liquid', page: 'student' %}


<section class="student-section">
<div class="student-card">
  <a href="/">Terug</a>
  <h1>{{ person.name }}</h1>

  <div class="div-img-big">
      {% if person.mugshot %}
        <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}" class="img-index" alt="{{ person.name }}">
      {% else %}
        <img src="{{ person.avatar }}" class="img-index" alt="{{ person.name }}">
      {% endif %}
  </div>
  
  <!-- overige info -->
  <div class="content-student">
  <p>{{ person.bio }}</p>
    
  <h3>Squads</h3>
    <ul>
      {% for squad in squads %}
        <li>Squad {{ squad.name }}</li>
      {% endfor %}
    </ul>
    </div>
</div>
</section>


{% render 'partials/foot.liquid', squads: squads %}